# api服务配置
[api_config]
listen_host = ""
listen_port = 9104
token_expire = 86400 # token过期时间1天
env = "prod" # 环境 dev, prod
query_mysql_user = "HH" # 查询数据库用户名
query_mysql_password = "oracle12" # 查询数据库密码
forward_request_dial_timeout = 10 # 请求转发链接超时时间
forward_request_response_header_timeout = 5 # 请求转发Response超时时间

# mysql配置
[easyq_mysql_config]
mysql_username = "easyq" # MySQL链接的用户名
mysql_password = "easyq" # MySQL链接的密码
mysql_host = "127.0.0.1" # MySQL默认链接使用的host
mysql_port = 3306 # MySQL默认需要链接的端口, 如果没有指定则动态通过命令获取
mysql_database = "easyq" # 链接数据库
mysql_conn_timeout = 8 # 数据库链接超时
mysql_charset = "utf8mb4" # 字符集
mysql_max_open_conns = 8 # 最大链接数
mysql_max_idel_conns = 7 # 空闲链接数
mysql_allow_old_passwords = 1 # 是否允许oldpassword
mysql_auto_commit = true # 是否自动提交

# mysql配置
[easydb_mysql_config]
mysql_username = "easydb" # MySQL链接的用户名
mysql_password = "easydb" # MySQL链接的密码
mysql_host = "127.0.0.1" # MySQL默认链接使用的host
mysql_port = 3306 # MySQL默认需要链接的端口, 如果没有指定则动态通过命令获取
mysql_database = "easydb" # 链接数据库
mysql_conn_timeout = 8 # 数据库链接超时
mysql_charset = "utf8mb4" # 字符集
mysql_max_open_conns = 8 # 最大链接数
mysql_max_idel_conns = 7 # 空闲链接数
mysql_allow_old_passwords = 1 # 是否允许oldpassword
mysql_auto_commit = true # 是否自动提交

# 日志配置
[log_config]
log_filename = "./logs/easyq_api.log" # 日志文件
log_level = "debug" # 层级
log_max_size = 512 # 文件最大大小(单位: M)
log_max_backups = 50 # 日志文件最多保存多少个备份
log_max_age = 7 # 文件最多保存多少天
log_compress = false # 是否压缩
log_console = true # 是否打印到控制
